@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Genos:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

#root {
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

/*
    Universal HTML Element Styling
*/

button {
    background-color: rgb(0, 89, 255);
    border: none;
    color: white;
    padding: 0.6rem;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
}

.game_item {
    position: relative;
    display: flex;
    place-items: end;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: black;
    border-radius: 20px;
    width: 30vw;
    height: 30vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.game_item_body {
    display: flex;
    flex-direction: row;
    margin-right: 5vw;

}

img {
    position: absolute;
    left: 0;
    top: 0;
    width: 10vw;
    height: 30vh;
}

.game_list_body {
    margin-top: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    justify-content: center;
    place-items: center;
}
.game_list_wrapper {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game_list_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5vw;
    column-gap: 10vw;
}

/*
    Header
*/

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 60vw;
    width: 100vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
    background-color: rgb(69, 168, 255);
}

.header-title{
    margin-left: 10vw;
}

/*
    Game Details View
*/

.game_details_body img {
    width: 20vw;
    height: 55vh;
}

.game_details_wrapper {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-items: center;

}

.game_details_body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    row-gap: 5vh;
    background-color: white;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 50vw;
    height: 45vh;
    padding: 5vh;
    border: none;
    border-radius: 15px;
}

.game_details_info {
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}

.game_details_close {
    position: absolute;
    left: 45vw;
    bottom: 50vh;
    text-decoration: none;
    color: black;
    transition: all;
    transition-duration: 0.5s;
}

.game_details_close:hover {
    opacity: 0.7;
    scale: 0.95;
}

.game_metadata {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    font-size: 0.8rem;
}

.game {
    font-size: 2.0rem;
}

.game-details-input-box {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    column-gap: 5vw;
}



/*
    Pagination
*/

.pagination {
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    font-size: 1.0rem;
}

.pagination a {
    cursor: pointer;
}

.disabled {
    visibility: hidden;
}

.active {
    color: blue;
}

/*
    Modal
*/


.modal {
    background-color: rgb(255, 255, 255);
    top: 25%;
    left: 37%;
    width: 20vw;
    height: 40vh;
    padding: 5vh;
    border-radius: 15px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.modal_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}

.modal_header {
    display: flex;
    flex-direction: row;
    column-gap: 10vw;
}

.modal_form {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.user-details {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.input-box {
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
    width: 10vw;
    font-size: 0.8rem;
    font-weight: 600;
}

.close-tag {
    cursor: pointer;
    font-weight: 600;
}

